[submodule "lib/NTPClient"]
	path = lib/NTPClient
	url = https://github.com/taranais/NTPClient.git
[submodule "lib/SolTrack"]
	path = lib/SolTrack
	url = https://github.com/Biondilbiondo/SolTrack-Arduino.git
[submodule "lib/ESP32Time"]
	path = lib/ESP32Time
	url = https://github.com/fbiego/ESP32Time.git
