[submodule "lib/NTPClient"]
	path = lib/NTPClient
	url = https://github.com/taranais/NTPClient.git
[submodule "lib/ESP32Time"]
	path = lib/ESP32Time
	url = https://github.com/fbiego/ESP32Time.git
[submodule "lib/Adafruit_Sensor"]
	path = lib/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor.git
[submodule "lib/Adafruit_BusIO"]
	path = lib/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO.git
[submodule "lib/SolTrack"]
	path = lib/SolTrack
	url = https://github.com/Biondilbiondo/SolTrack-Arduino.git
[submodule "lib/Adafruit_MPU9250"]
	path = lib/Adafruit_MPU9250
	url = https://github.com/jfredine/Adafruit_MPU9250.git
[submodule "lib/Adafruit_MPU6050"]
	path = lib/Adafruit_MPU6050
	url = https://github.com/adafruit/Adafruit_MPU6050.git
[submodule "lib/QuickPID"]
	path = lib/QuickPID
	url = https://github.com/Dlloydev/QuickPID
[submodule "lib/Adafruit_HMC5883_Unified"]
	path = lib/Adafruit_HMC5883_Unified
	url = https://github.com/adafruit/Adafruit_HMC5883_Unified
[submodule "lib/ESPTelnet"]
	path = lib/ESPTelnet
	url = https://github.com/LennartHennigs/ESPTelnet
[submodule "lib/RTClib"]
	path = lib/RTClib
	url = https://github.com/adafruit/RTClib.git
[submodule "lib/Adafruit_ADS1X15"]
	path = lib/Adafruit_ADS1X15
	url = https://github.com/adafruit/Adafruit_ADS1X15.git
[submodule "lib/BatterySense"]
	path = lib/BatterySense
	url = https://github.com/rlogiacco/BatterySense
